{% extends 'layout.html' %}
{% block body %}
<br>
<h1 align="center">{{session.name}}</h1>
<br><br>
<div class="container">
	<div class="card shadow">
		<div class="card-body bg-twitter rounded">
			<br>
			<div class="row" style="align-content: center;">

				
				<!-- <div class="col-3 box" style="margin:17px;">
					<div class="card shadow">
						<div class="card-body bg-dribbble rounded">
							<center><img src="static/ab7.jpg" alt="" width="100px"></center><br>
							<center><a href="http://127.0.0.1:8001/" class="btn btn-primary " style="background-color: #006b3e ; color: white; ">ALPR</a></center>
						</div>
					</div>
				</div> -->

				<div class="col-3 box" style="margin:17px;">
					<div class="card shadow">
						<div class="card-body bg-dribbble rounded">
							<center><img src="static/ab6.jpg" alt="" width="100px"></center><br>
							<center><a href="/admin_contact_queries" class="btn btn-primary " style="background-color: #006b3e ; color: white; ">User Queries</a>
							</center>
						</div>
					</div>
				</div>

				<div class="col-3 box" style="margin:17px;">
					<div class="card shadow">
						<div class="card-body bg-dribbble rounded">
							<center><img src="static/ab4.jpg" alt="" width="100px"></center><br>
							<center><a href="/admin_display_statistics" class="btn btn-primary " style="background-color: #006b3e ; color: white; ">Statistics</a></center>
						</div>
					</div>
				</div>

				<div class="col-3 box" style="margin:17px;">
					<div class="card shadow">
						<div class="card-body bg-dribbble rounded">
							<center><img src="static/ab5.jpg" alt="" width="100px"></center><br>
							<center><a href="/admin_display_users" class="btn btn-primary " style="background-color: #006b3e ; color: white; ">User Management</a></center>
						</div>
					</div>
				</div>

				<div class="col-3 box" style="margin:17px;">
					<div class="card shadow">
						<div class="card-body bg-dribbble rounded">
							<center><img src="static/ab3.jpg" alt="" width="100px"></center><br>
							<center><a href="/admin_display_vehicles" class="btn btn-primary " style="background-color: #006b3e ; color: white; ">Vehicle database</a></center>
						</div>
					</div>
				</div>

				<div class="col-3 box" style="margin:17px;">
					<div class="card shadow">
						<div class="card-body bg-dribbble rounded">
							<center><img src="static/ab1.jpg" alt="" width="100px"></center><br>
							<center><a href="/admin_display_violations" class="btn btn-primary " style="background-color: #006b3e ; color: white; ">Traffic
									Violations</a>
							</center>
						</div>
					</div>
				</div>

				<div class="col-3 box" style="margin:17px;">
					<div class="card shadow">
						<div class="card-body bg-dribbble rounded">
							<center><img src="static/ab2.jpg" alt="" width="100px"></center><br>
							<center><a href="/admin_display_insurance" class="btn btn-primary " style="background-color: #006b3e ; color: white; ">Insurance
									details</a></center>
						</div>
					</div>
				</div>

				

				

				<br>

			</div>
		</div>
	</div>
</div>
<br><br><br>
</div>
<br><br><br>
{% endblock %}